{% extends 'student/layout.html' %}
{% block content %}
      <!-- Content -->
      <div id="content">
        <div class="panel panel-default grid">
          <div class="panel-heading">
            <i class="icon-table icon-large"></i>
            All Attendance
            <div class="panel-tools">
          </div>
           <table class="table">
            <thead>
              <tr>
                <th>TimeStamp</th>
                <th>Name</th>
                <th>Lab Name</th>
                <th class="actions">
                  Actions
                </th>
              </tr>
            </thead>
            <tbody>
            {% for person in attendance %}
              {% if person.confidence == 0 %}
                <tr class="danger">
              {% elif person.confidence == 1 %}
                <tr class="warning">
              {% elif person.confidence == 2 %}
                <tr class="active">
              {% endif %}
                <td>{{ person.timestamp }}</td>
                <td>{{ person.student }}</td>
                <td>{{ person.subject }}</td>
                <td class="action">
                  <form action="{% url 'student_tables' %}" method="post">
                    {% csrf_token %}
                          <button class="btn btn-danger" type='submit'>
                              <i class="icon-trash"></i>
                            </button>
                      <!-- </fieldset> -->
                    </form>
                  
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          
    {% endblock %}