{% extends 'admin/layout.html' %}
{% block content %}
      <!-- Content -->
      <div id="content">
        <div class="panel panel-default">
          <div class="panel-heading">
            <i class="icon-edit icon-large"></i>
            Student Form
          </div>
          <div class="panel-body">
            <form action="{% url 'add_student' %}" method="post" enctype="multipart/form-data" name='student'>
                {% csrf_token %}
              <fieldset>
                <legend>Enter New Student Information</legend>
                <div class="form-group">
                  <label class="control-label">Full Name</label>
                  <input class="form-control" placeholder="Enter full name" type="text" name="name">
                </div>
                  <div class="form-group">
                  <label class="control-label">Username</label>
                  <input class="form-control" placeholder="Enter username" type="text" name="username">
                </div><!-- 
                <div class="form-group">
                  <label class="control-label">Password</label>
                  <input class="form-control" placeholder="Enter password" type="password" name="password">
                </div> -->
                <div class="form-group">
                  <label class="control-label">Roll Number</label>
                  <input class="form-control" type="text" placeholder="Enter roll number" name="rno">
                </div>
                <div class="form-group">
                  <label class="control-label">Enrollment Number</label>
                  <input class="form-control" type="text" placeholder="Enter Enrollment number" name="enrollno">
                </div>
                <div class="form-group">
                  <label class="control-label">Date of Birth</label>
                  <input class="form-control" type="text" placeholder="Enter date of birth (yyyy-mm-dd)" name="dob">
                </div>

                <div class="form-group">
                  <label class="control-label">Course</label>
                  <input class="form-control" type="text" placeholder="Enter course" name="course">
                </div>

                <div class="form-group">
                  <label class="control-label">Year</label>
                  <input class="form-control" type="text" placeholder="Enter year" name="year">
                </div>

                <div class="form-group">
                  <label class="control-label">Semester</label>
                  <input class="form-control" type="text" placeholder="Enter semester" name="semester">
                </div>

                <div class="form-group">
                  <label class="control-label">Student Face</label>
                  <input type="file" name="image1">
                </div>

                  <!-- <div class="form-group">
                  <label class="control-label">Image 2</label>
                  <input type="file" name="image2">
                </div>

                  <div class="form-group">
                  <label class="control-label">Image 3</label>
                  <input type="file" name="image3">
                </div>

                  <div class="form-group">
                  <label class="control-label">Image 4</label>
                  <input type="file" name="image4">
                </div> -->
              </fieldset>
              <div class="form-actions">
                <button class="btn btn-default" type="submit">Submit</button>
{#                <a class="btn" href="#">Cancel</a>#}
              </div>
            </form>
          </div>
        </div>
        <!-- <div id="content"> -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <i class="icon-edit icon-large"></i>
            Admin Form
          </div>
          <div class="panel-body">
            <form action="{% url 'add_student' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
              <fieldset>
                <legend>Add New Admin/Teacher</legend>
                <div class="form-group">
                  <label class="control-label">Username</label>
                  <input class="form-control" placeholder="Enter username" type="text" name="username">
                </div>
                <div class="form-group">
                  <label class="control-label">Password</label>
                  <input class="form-control" placeholder="Enter password" type="password" name="password">
                </div>
                 
              </fieldset>
              <div class="form-actions">
                <button class="btn btn-default" type="submit">Submit</button>
{#                <a class="btn" href="#">Cancel</a>#}
              </div>
            </form>
          </div>
        <!-- </div> -->
      </div>
      </div>
      <!-- </div> -->
{% endblock %}