{% extends 'layout.html' %}
{% block content %}

<style type="text/css">
  .button
  {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    color: #0C5;

    font-size: 24px;
    font-family: "Nunito", sans-serif;
    font-weight: 300;
    
    margin: 5em auto;
    
    position: absolute; 
    top:0; right:0; bottom:0; left:0;
    
    padding: 20px 0;
    width: 220px;
    height:70px;

    background: #0D6;
    border: 1px solid #0D6;
    color: #FFF;
    overflow: hidden;
    
    transition: all 0.5s;
  }
</style>

    <body class="login">
    <div class="wrapper" style="background-color:transparent; border:none;border-width:0px">
      <div class="row">
        <div class="col-lg-12">
          <div class="brand text-center">
            <h1>
              <div class="logo-icon">
                <i class="icon-beer"></i>
              </div>
              Attendance Monitor
            </h1>
  
              <div class="col-lg-12">
                <a href="/admin_login" class="button">
                  <span>Admin</span>
                </a>
                <a href="/student_login" class="button" style="top:100px">
                  <span>Student</span>
                </a>
          </div>

          </div>
        </div>
      </div>
      <!-- <div class="row"> -->
        
    <!-- </div> -->
    </div>
    
{% endblock %}